@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: '16px';
}

#root {
  height: 100%;
}

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }
}
